body {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: #222;
}

canvas {
  background: #4CAF50;
  border: 2px solid white;
}

#btnChutar {
  margin-left: 10px;
  font-size: 18px;
  padding: 10px;
  align-self: center;
  height: 46px;
  cursor: pointer;
}